<?xml version="1.0" encoding="utf-8"?>
<!--For more information on how to configure your ASP.NET application, please visit http://go.microsoft.com/fwlink/?LinkId=152368 -->
<configuration>
    <system.web>
        <httpRuntime enableVersionHeader="false" maxUrlLength="2048" />
        <httpCookies requireSSL="true" />
    </system.web>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
        <!-- <ModSecurity enabled="false" /> -->
        <security>
            <requestFiltering removeServerHeader="true" />
        </security>
        <!-- START x-xss protection -->
        <httpProtocol>
            <customHeaders>
                <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
                <add name="Referrer-Policy" value="no-referrer" />
                <add name="Content-Security-Policy" value="default-src * 'self';
                frame-src * 'self';
                script-src 'self' https://cdnjs.cloudflare.com cdnjs.cloudflare.com;
                script-src 'self' 'unsafe-inline' 'unsafe-eval' https://www.googletagmanager.com;
                style-src 'self' 'unsafe-inline' fonts.googleapis.com https://cdn.jsdelivr.net/npm/@progress/kendo-theme-material@4.42.0/dist/all.min.css;
                style-src-elem 'self' 'unsafe-inline' * ;
                font-src * data: ;
                img-src * 'self' data:;" />
                <!-- <add name="Feature-Policy" value="sync-xhr *" /> -->
                <remove name="X-Powered-By" />
                <add name="X-Frame-Options" value="SameOrigin" />
                <add name="X-Robots-Tag" value="noindex" />
                <add name="X-Download-Options" value="true" />
                <add name="X-XSS-Protection" value="1; mode=block" />
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="Access-Control-Allow-Methods" value="*" />
                <add name="Access-Control-Allow-Headers" value="*" />
                <add name="Permissions-Policy" value="geolocation=(self &quot;https://example.com&quot;), microphone=()" />
            </customHeaders>
        </httpProtocol>
        <!-- END x-xss protection -->
        <rewrite>
            <rules>
                <rule name="ABA REST" stopProcessing="true">
                    <match url="^api-aba-case/(.*)" />
                    <action type="Rewrite" url="https://{replace_prefix}sdg-ui.azurewebsites.net/api-aba-case/{R:1}" />
                </rule>
                <rule name="REST" stopProcessing="true">
                    <match url="^system/rest/(.*)" />
                    <action type="Rewrite" url="https://{replace_prefix}sdg-ui.azurewebsites.net/system/rest/{R:1}" />
                </rule>
                <rule name="Identity API REST" stopProcessing="true">
                    <match url="^identity/v1/(.*)" />
                    <action type="Rewrite" url="https://{replace_prefix}sdg-ui.azurewebsites.net/identity/v1/{R:1}" />
                </rule>
                <rule name="SPA Routes" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>